* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font-family: arial;
}

main {
<<<<<<< HEAD
    
    
=======
    background-color: rgb(100,0,88);
>>>>>>> fed4554c9d59ff683310910e88ab97dcdfb7c464
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

#canvas {
    background-image: url("Grass_01_512.png");
    background-color: rgb(74,145,88);
<<<<<<< HEAD
    
    
=======
    position: absolute;
    z-index: 1;
    flex: 0 0 auto;
>>>>>>> fed4554c9d59ff683310910e88ab97dcdfb7c464

}

#menu-box {
<<<<<<< HEAD
    background-color: rgb(16, 65, 56);
    
    height: auto;
    width: 100%;
=======
    background-color: rgb(144, 123, 184);
    position: relative;
    z-index: 2;
    height: 200px;
    width: 200px;
>>>>>>> fed4554c9d59ff683310910e88ab97dcdfb7c464
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    
   
}
#start-button {
    padding: 5px;
    background-color: rgb(15, 95, 187);
    color: rgb( 255, 255, 255)
}

#start-button:hover {
    font-weight: bold;
    text-decoration: underline;
    background-color: rgb( 255, 255, 255);
    color: rgb(0, 0, 0);
}

#menu-box.hidden {
    display: none;
}
p {
     font-style: m6x11;
     font-size: 32px;
     color: rgb(219, 219, 219);


}